$font_Montserrat: "Monserrat", sans-serif;
$font_Roboto: "Roboto", sans-serif;

$font_color_violet: #572ee5;
$font_color_black: #000000;
$font_color_grey: #9cafc3;
$font_color_white: #ffffff;

@mixin Menu_NAV {
  font-family: $font_Montserrat;
  color: $font_color_violet;
  font-size: 0.81rem;
  letter-spacing: 0;
  line-height: 1rem;
  font-weight: bold;
}

@mixin Titulo {
  font-family: $font_Montserrat;
  color: $font_color_violet;
  font-size: 1.5rem; //2.19rem;
  letter-spacing: 0;
  line-height: 3.13rem;
  font-weight: bold;
}

@mixin Search {
  font-family: $font_Roboto;
  color: $font_color_grey;
  font-size: 1rem;
  letter-spacing: 0;
  line-height: 1.19rem;
  text-align: left;
}
